@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,500;1,700&display=swap');



* {
    font-family: 'Bai Jamjuree', sans-serif;
}

.water-wave {
    animation: wave 2s infinite;

}

.citerne {
    animation: bouncy 5s infinite;
}

.citerne2 {
    animation: bouncy2 5s infinite;
}

#grad {
    background-image: radial-gradient(rgb(255, 255, 255) 15%, #edf2f4 75%);
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #2d4c78;
}

.content h2:nth-child(2) {
    color: #2d4c78;

    animation: wave 6s ease-in-out infinite;

}

@keyframes wave {

    0%,
    100% {
        clip-path: polygon(0% 47%, 11% 33%, 25% 25%, 40% 24%, 53% 27%, 57% 32%, 66% 38%, 76% 34%, 86% 29%, 100% 24%, 100% 100%, 0% 100%);
    }

    

    50% {
        clip-path: polygon(0% 47%, 15% 51%, 29% 58%, 41% 66%, 50% 74%, 60% 76%, 65% 61%, 75% 52%, 90% 57%, 100% 68%, 100% 100%, 0% 100%);
    }
}

@keyframes bouncy {
    50% {
        transform: translateY(10px) rotate(6deg);
    }

    0%,
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes bouncy2 {
    50% {
        transform: translateY(10px) rotate(-6deg);
    }

    0%,
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}