@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,500;1,700&display=swap');



* {
    font-family: 'Bai Jamjuree', sans-serif;
}

.water-wave {
    animation: wave 5s infinite;

}

.citerne {
    animation: bouncy 5s infinite;
}

.citerne2 {
    animation: bouncy2 5s infinite;
}



@keyframes wave {

    0%,
    100% {
        clip-path: polygon(0% 55%, 9% 52%, 16% 51%, 25% 52%, 33% 55%, 40% 59%, 46% 63%, 53% 66%, 61% 67%, 68% 64%, 75% 60%, 81% 58%, 87% 54%, 96% 52%, 96% 99%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 61%, 8% 64%, 15% 69%, 21% 74%, 28% 78%, 35% 82%, 43% 83%, 51% 77%, 58% 72%, 65% 68%, 72% 64%, 82% 64%, 91% 63%, 98% 65%, 99% 98%, 0% 99%);
    }
}

@keyframes bouncy {
    50% {
        transform: translateY(10px) rotate(6deg);
    }

    0%,
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes bouncy2 {
    50% {
        transform: translateY(10px) rotate(-6deg);
    }

    0%,
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}